.main {
  margin: 0 24px 47px 28px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-container {
  position: relative;
}
.planet-overview {
  width: 100%;
  color: var(--white);
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
}
.overview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 69px;
  /* margin-top: 130px; */
}
.planet-overview h4 {
  font-family: "Antonio", sans-serif;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.overview-text {
  font-family: "League Spartan", sans-serif;
  font-size: 11px;
  line-height: 22px;
  margin-top: 16px;
  /* margin-bottom: 32px; */
  text-align: center;
}

.wikipedia {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  color: var(--white-smoke);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 32px;
}
.wikipedia a {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  text-decoration-line: underline;
  color: var(--white-smoke-light);
}
.planet-parameters {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* width: 100%; */
  margin: 0 24px 47px 24px;
}

.planet-parameters div {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--white-smoke);
  padding: 9px 24px 13px 24px;
}
.planet-parameters p {
  font-family: "League Spartan", sans-serif;
  font-size: 8px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.73px;
  color: var(--white-smoke-light);
}

.planet-parameters span {
  font-family: "Antonio", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.75px;
  color: var(--white);
}
.blur {
  filter: blur(2px);
}

@media (min-width: 768px) {
  .main {
    padding: 0 40px 36px 39px;
  }
  .planet-overview {
    margin-top: 0;
  }
  .planet-overview h4 {
    font-size: 48px;
  }
  .planet-parameters {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px 36px 39px;
  }
  .planet-parameters div {
    flex-direction: column;
    align-items: start;
    width: 20%;
    height: 88px;
    gap: 6px;
    padding: 16px 0 19px 15px;
  }
  .planet-parameters span {
    margin-top: 6px;
    font-size: 24px;
  }
  .planet-overview {
    /* margin-top: 98px; */
    color: var(--white);
    font-weight: 400;
    letter-spacing: 0px;
    text-align: center;
  }

  .planet-overview {
    text-align: start;
  }
  .planet-overview h4 {
    text-align: start;
  }
  .overview-text {
    text-align: start;
    margin-top: 24px;
  }
  .wikipedia {
    height: 25px;
  }
}
@media (min-width: 1440px) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 126px 165px 87px 335px;
  }
  .overview-container {
    width: 34.4%;
    flex-direction: column;
    margin: 0;
    gap: 0;
  }
  .planet-overview {
    margin: 0;
  }
  .planet-overview h4 {
    margin-bottom: 23px;
    font-size: 80px;
  }
  .overview-text {
    font-size: 14px;
  }
  .wikipedia {
    gap: 8;
    font-size: 14px !important;
    margin: 24px 0 39px 0;
  }
  .planet-parameters {
    margin: 0 165px 56px 165px;
  }
  .planet-parameters div {
    width: 255px;
    height: 128px;
    font-size: 40px;
    letter-spacing: -1.5px;
    padding: 20px 0 27px 23px;
  }
}
