.main {
  padding: 0 24px 47px 24px;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mercury {
  width: 111px;
  height: 111px;
  margin-top: 95px;
}
.mercury-overview {
  margin-top: 98px;
  color: var(--white);
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
}
.overview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 69px;
}
.mercury-overview h4 {
  font-family: "Antonio", sans-serif;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}
.mercury-overview p {
  font-family: "League Spartan", sans-serif;
  font-size: 11px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 32px;
  text-align: center;
}

.mercury-overview span {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  color: var(--white-smoke);
}
.mercury-parameters {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-top: 28px;
}

.mercury-parameters div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--white-smoke);
  padding: 9px 24px 13px 24px;
}
.mercury-parameters p {
  font-family: "League Spartan", sans-serif;
  font-size: 8px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.73px;
  color: var(--white-smoke-light);
}

.mercury-parameters span {
  font-family: "Antonio", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.75px;
  color: var(--white);
}
.blur {
  filter: blur(2px);
}
