.jupiter {
  width: 224px;
  height: 224px;
  margin: 39px 0 41px 0;
}
.internal-structure {
  width: 222px;
  height: 222px;
  position: absolute;
  top: 12%;
  right: -25%;
}

.surface {
  position: absolute;
  width: 65px;
  height: auto;
  bottom: 16%;
  left: 35%;
}
@media (min-width: 768px) {
  .jupiter {
    width: 369px;
    height: 369px;
    margin: 54px 0 37px 0;
  }
  .internal-structure {
    width: 369px;
    height: 369px;
  }
  .surface {
    bottom: 21%;
    left: 41%;
  }
}
