.mars {
  width: 129px;
  height: 129px;
  margin: 87px 0 88px 0;
}
.internal-structure {
  width: 129px;
  height: 129px;
  position: absolute;
  top: 28%;
  right: -24%;
}

.surface {
  position: absolute;
  width: 70px;
  height: auto;
  bottom: 13%;
  left: 23%;
}
@media (min-width: 768px) {
  .mars {
    width: 213px;
    height: 213px;
    margin: 132px 0 115px 0;
  }
  .internal-structure {
    width: 213px;
    height: 213px;
  }
  .surface {
    bottom: 19%;
    left: 34%;
  }
}
