.mercury {
  width: 111px;
  height: 111px;
  margin-top: 95px;
}

.internal-structure {
  width: 111px;
  height: 111px;
  position: absolute;
  top: 95px;
  right: 104px;
}
.surface {
  position: absolute;
  width: 50px;
  height: auto;
  top: 184px;
}
@media (min-width: 768px) {
  .mercury {
    width: 184px;
    height: 184px;
    margin-top: 146px;
  }
  .internal-structure {
    width: 182px;
    height: 182px;
  }
}
