.mercury {
  width: 111px;
  height: 111px;
  margin: 95px 0 98px 0;
}

.internal-structure {
  width: 111px;
  height: 111px;
  position: absolute;
  top: 95px;
  right: 104px;
}
.surface {
  position: absolute;
  width: 50px;
  height: auto;
  top: 184px;
}
@media (min-width: 768px) {
  .mercury {
    width: 184px;
    height: 184px;
    margin: 146px 0 130px 0;
  }
  .internal-structure {
    width: 182px;
    height: 182px;
  }
}
@media (min-width: 1440px) {
  .mercury {
    width: 290px;
    height: 290px;
    margin: 0;
  }
  .internal-structure {
    width: 290px;
    height: 290px;
  }
}
