.neptune {
  width: 173px;
  height: 173px;
  margin: 64px 0 67px 0;
}
.internal-structure {
  width: 171px;
  height: 171px;
  position: absolute;
  bottom: 23%;
  left: 25%;
}

.surface {
  position: absolute;
  width: 65px;
  height: auto;
  bottom: 16%;
  left: 31%;
}
@media (min-width: 768px) {
  .neptune {
    width: 285px;
    height: 285px;
    margin: 96px 0 79px 0;
  }
  .internal-structure {
    width: 285px;
    height: 285px;
    bottom: 18%;
    left: 25%;
  }
  .surface {
    width: 163px;
    height: 199px;
    bottom: -5%;
    left: 21%;
  }
}
