.neptune {
  width: 173px;
  height: 173px;
  margin: 64px 0 67px 0;
}
.internal-structure {
  width: 171px;
  height: 171px;
  position: absolute;
  top: 65px;
  right: 61px;
}

.surface {
  position: absolute;
  width: 65px;
  height: auto;
  top: 182px;
}
@media (min-width: 768px) {
  .neptune {
    width: 285px;
    height: 285px;
    margin: 96px 0 79px 0;
  }
  .internal-structure {
    width: 285px;
    height: 285px;
  }
}
