.saturn {
  width: 256px;
  height: 256px;
  margin: 44.11px 0 24px 0;
}
.internal-structure {
  width: 155px;
  height: 155px;
  position: absolute;
  top: 26.5%;
  right: 4%;
}

.surface {
  position: absolute;
  width: 65px;
  height: auto;
  bottom: 16%;
  left: 37%;
}
@media (min-width: 768px) {
  .saturn {
    width: 422px;
    height: 422px;
    margin: 60.15px 0 11px 0;
  }
  .internal-structure {
    width: 260px;
    height: 260px;
  }
  .surface {
    width: 163px;
    height: 163px;
    bottom: 4%;
    left: 31%;
  }
}
