.uranus {
  width: 176px;
  height: 176px;
  margin: 63px 0 65px 0;
}
.internal-structure {
  width: 176px;
  height: 176px;
  position: absolute;
  top: 68px;
  right: 69px;
}

.surface {
  position: absolute;
  width: 65px;
  height: auto;
  top: 182px;
}
@media (min-width: 768px) {
  .uranus {
    width: 290px;
    height: 290px;
    margin: 93px 0 77px 0;
  }
  .internal-structure {
    width: 290px;
    height: 290px;
  }
}
