.uranus {
  width: 176px;
  height: 176px;
  margin: 63px 0 65px 0;
}
.internal-structure {
  width: 176px;
  height: 176px;
  position: absolute;
  bottom: 22%;
  left: 25%;
}

.surface {
  position: absolute;
  width: 65px;
  height: auto;
  bottom: 14%;
  left: 32%;
}
@media (min-width: 768px) {
  .uranus {
    width: 290px;
    height: 290px;
    margin: 93px 0 77px 0;
  }
  .internal-structure {
    width: 290px;
    height: 290px;
    bottom: 17.4%;
    left: 24%;
  }
  .surface {
    width: 163px;
    height: 199px;
    bottom: -5%;
    left: 23%;
  }
}
