.venus {
  height: 154px;
  width: 154px;
  margin-top: 74px;
}
.internal-structure {
  width: 154px;
  height: 154px;
  position: absolute;
  top: 74px;
  right: 74px;
}
.surface {
  position: absolute;
  width: 50px;
  height: auto;
  top: 184px;
}
@media (min-width: 768px) {
  .venus {
    height: 253px;
    width: 253px;
    margin-top: 112px;
  }
  .internal-structure {
    width: 253px;
    height: 253px;
  }
}
