.navigation {
  width: 375px;
  padding: 24px 20px;
  background: var(--dark-blue);
  border-bottom: 1px solid var(--white-smoke);
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list li a {
  text-decoration: none;
  font-size: 9px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 1.9px;
  color: var(--white-smoke-light);
  position: relative;
}
.nav-list li a:hover,
.nav-list li a:active,
.nav-list li a.active {
  color: var(--white);
}

.nav-list li a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue-moon);
  position: absolute;
  bottom: -26px;
  left: 0;
}
