* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --dark-blue: #070724;
  --blue-moon: #419ebb;

  --white: #ffffff;
  --white-smoke: #ffffff20;
  --white-smoke-light: #ffffff50;

  /* MENU COLORS */
  --water: #def4fc;
  --yellow: #f7cc7f;
  --blue: #545bfe;
  --Radical-Red: #ff6a45;
  --Rusty-Sand: #ecad7a;
  --Orange-Yellow: #fccb6b;
  --Turquoise: #65f0d5;
  --Blueberry: #497efa;
}
