* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
:root {
  scroll-behavior: smooth;

  --dark-blue: #070724;
  --blue-moon: #419ebb;

  --white: #ffffff;
  --white-smoke: rgba(255, 255, 255, 0.2);
  --white-smoke-light: rgba(255, 255, 255, 0.5);
  --white-smoke-00: rgba(255, 255, 255, 0.75);
  --gray: hsla(0, 0%, 85%, 0.2);

  /* MENU COLORS */
  --water: #def4fc;
  --yellow: #f7cc7f;
  --blue: #545bfe;
  --Radical-Red: #ff6a45;
  --Rusty-Sand: #ecad7a;
  --Orange-Yellow: #fccb6b;
  --Turquoise: #65f0d5;
  --Blueberry: #497efa;

  /* BORDER COLORS */

  --venus-border: #eda249;
  --earth-border: #6d2ed5;
  --mars-border: #d14c32;
  --jupiter-border: #d83a34;
  --saturn-border: #cd5120;
  --uranus-border: #1ec1a2;
  --neptune-border: #2d68f0;
}

body {
  background: repeat-y url("./assets/images/backgroundStars.svg") center / cover;
}
